<launch>
        <param name="robot_description" textfile="$(find robovie)/urdf/robovie.urdf" />
        <param name="use_gui" value="True"/>
        <rosparam param="source_list">["joint_states_source"]</rosparam>

        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find urdf_tutorial)/urdf.rviz" required="true" />
</launch>
